networks:
  employee_testing:
    external: true

services:

  service:
    build:
      context: ./
      dockerfile: ./Dockerfile
    env_file: ./.env
    ports:
      - "8000:80"
    volumes:
      - ./www:/var/www/html
    networks:
      employee_testing:
        aliases:
          - sebn-employee-testing
    environment:
      TZ: "Europe/Kiev"
    links:
      -   db
  db:
    image: mysql:5.7
    ports:
      - 3306:3306
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: ${DEFAULT_DATABASE_NAME}
      MYSQL_USER: ${DEFAULT_DATABASE_USER}
      MYSQL_PASSWORD: ${DEFAULT_DATABASE_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DEFAULT_DATABASE_PASSWORD}
      TZ: ${DEFAULT_TIME_ZONE}
    networks:
      employee_testing:
        aliases:
          - sebn-employee-testing
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    links:
      - db:db
    ports:
      - 8001:80
    environment:
      MYSQL_DATABASE: ${DEFAULT_DATABASE_NAME}
      MYSQL_USER: ${DEFAULT_DATABASE_USER}
      MYSQL_PASSWORD: ${DEFAULT_DATABASE_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DEFAULT_DATABASE_PASSWORD}
    networks:
      employee_testing:
        aliases:
          - sebn-employee-testing

version: "3.8"